#loginForm {
    margin-top: 40px;
    width: 250px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 12px;
}

#id_username {
    border-radius: 4px;
    border: none;
    width: 200px;
}

#id_password {
    border-radius: 4px;
    border: none;
    width: 200px;
}

.button {
    margin-top: 20px;
    width: 100px;
    border-radius: 4px;
    border: none;
}

#warning {
    margin-top: 12px;
    text-align: center;
    color: red;
}

p {
    line-height: 4px;
}

#sambut {
    margin-top: 40px;
    text-align: center;
}

.logoutButton {
    text-decoration: none;
    padding: 4px;
    background-color: darkgray;
    border-radius: 4px;
}

.logoutButton:hover {
    opacity: 0.8 ;
}