html {
    margin: 0;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}

#search {
    margin: 20px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    border: 1px solid black;
    height: 24px;
}

#button {
    border-radius: 2px;
    border: none;
    height: 24px;
}
