{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'story8.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="{% static 'scriptStory8.js' %}"></script>
        <title>Story 8</title>
    </head>
    <body>
        <h1>BOOK SEARCHER</h1>

        <input id="search" type="text" placeholder ="Search">
        <input type="submit" id="button" value="search">
    
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col" class="judul">Judul Buku</th>
                <th scope="col" class="deskripsi">Deskripsi Buku</th>
                <th scope="col" class="link">Penulis Buku</th>
                <th scope="col" class="gambar">Gambar Buku</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>