{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'story9.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <title>Story 9</title>
    </head>
    <body>
        <div id="sambut">
            <h1>Hai! {{ user.first_name }}</h1>
            <a href="{% url 'story9:logout' %}" class="logoutButton">
                logout
            </a>
        </div>
    </body>
</html>