{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'story9.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
        <title>Story 9 Login Page</title>
    </head>
    <body>
        <form action="{% url 'story9:login' %}" method = "POST">
            <div id="loginForm">
                {% csrf_token %}
                <label for="id_username" id="user_label">Username : </label>
                <input type="text" name="username" autofocus="" required="" id="id_username">
                <label for="id_password" id="pass_label">Password : </label>
                <input type="password" name="password" required="" id="id_password">
                <input class="button" type="submit" value="Login">
            </div>

            <p id="warning">{{ text }}</p>
        </form>

        <div id="testerID">
            <p>Login username = test</p>
            <p>Login password = tester12</p>
        </div>
    </body>
</html>